In [6]:
import pandas as pd
import json
df = pd.read_csv('./data/LE.csv')
# for index, row in df[df.iloc[:,0]==2003].iterrows():
#     print(row['国家'],row[3])

# [[row['国家'], row[3]] for _, row in df[df.iloc[:,0]==2003].iterrows()]
year = 2000
df[(df['Period'] == year) & (df['Dim1'] == "Both sexes")]

# with open("./country_ce.json", 'r', encoding='utf-8') as f:
#     ce_dict = json.load(f)
# [[ce_dict[row['国家']], row[3]] for _, row in df[df.iloc[:,0]==2004].iterrows()]
# df[df.iloc[:, 0] == year].iloc[:,3].max()

,Location,Period,Indicator,Dim1,First Tooltip
9,Afghanistan,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,46.76
21,Albania,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,65.24
33,Algeria,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,62.71
45,Angola,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,42.87
57,Antigua and Barbuda,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,65.53
...,...,...,...,...,...
2145,Venezuela (Bolivarian Republic of),2000,Healthy life expectancy (HALE) at birth (years),Both sexes,64.68
2157,Viet Nam,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,63.30
2169,Yemen,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,54.46
2181,Zambia,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,38.95
2193,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,41.03

In [10]:
from pyecharts.faker import Faker
Faker.country

['China', 'Canada', 'Brazil', 'Russia', 'United States', 'Africa', 'Germany']

因而从上述的cell我们可以看出，基于已有的数据，我们还需要进行中英文对换。

In [21]:
import json
with open("./world_country.json", 'r', encoding='utf-8') as f:
    raw_dict = json.load(f)
with open("./country_ce.json", 'w', encoding='utf-8') as f:
    json.dump(dict(zip(raw_dict.values(), raw_dict.keys())), f,ensure_ascii=False)